<h1>Categories (lists)</h1>
<p>Choose or create one!</p>

<ol>
<% @lists.each do |list| %>
<li><%= link_to list.name, list_path(list) %></li>
<% end %>
</ol>

<%= simple_form_for @list do |f| %>
 <%= f.input :name, class: "w-25" %>
 <%= f.button :submit, class: "btn btn-primary" %>
 <% end %>
